h1{
color: aliceblue;
background-color: aliceblue;
}
h2{
color: aliceblue;
background-color: aliceblue;
}
h3{
color: aliceblue;
background-color: aliceblue;
}
h4{
color: antiquewhite;
background-color: aquamarine;
}
h5{
color: aqua;
background-color: aquamarine;
}
h6{
color: antiquewhite;
background-color: aqua;
}