h1{
color: aliceblue;
background-color: aliceblue;
}
h2{color: aqua;
    background-color: brown;

}
H3{color: aquamarine;
    background-color: black;

}
h4{color: azure;
    background-color: aliceblue;

}
h5{color: antiquewhite;
    background-color: antiquewhite;

}
h6{color: antiquewhite;
    background-color: aqua;

}