h1{
    color: black;
    background-color: forestgreen;
    text-align: center;
    margin: 0;
    padding: 20px;
}

body{
    color: black;
    background-color: cornsilk;
    text-align: center;

}
h1{
    font-size: center;
}
h2{
    font-size: center;
}