h1{
color:blueviolet ;
background-color:peachpuff ;
}
h2{
color:brown ;
background-color:powderblue ;
}
h3{
color:peru ;
background-color:plum ;
}
h4{
color:palevioletred ;
background-color:tomato;

}
h5{
color: red;
background-color:teal ;
}
h6{
color:palegreen ;
background-color:aqua;
}
