
h1 {
    color:rgb(5, 244, 5);
    background-color: rgb(227, 114, 114);
    
    border-radius: 20 px;
    text-align: center;
 
}
h2{
    text-align: center;
    background-color: rgb(227, 114, 114);
}