h1{
color:rgb(117, 195, 240) ;
background-color:gold ;

}
h2{
color:gray ;
background-color: ghostwhite;
}
h3{
color: goldenrod;
background-color: gold;
}
h4{
color:khaki ;
background-color:aqua ;
}
h5{
color:aliceblue ;
background-color: gold;
}
h6{
color: gold;
background-color:firebrick;
}